body{
    background-color: beige;
}

table tr {
    width: 10em;
}

table {
    border-collapse: collapse;
}

tr:nth-of-type(1)> th {
    background-color: cyan;
}

section{
    background-color: rgb(207, 165, 97);
}

footer{
    background-color: rgb(103, 221, 151);
}